.main {
text-align: center;
color: gold;
font: size 50px; ;
background-color: black;

}

#mainDiv{

    background-color: rgb(12, 24, 43);
    height: 700px;
    border: 5px solid gray;
    margin-top: 20px;
}


.operation{
float: left;
margin-top: 50px;
border-radius: 20px;
background-color: gray;
width: 900px;
margin-left: 30%;


}

.operation input{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    width: 100px;
    height: 30px;
    color: black;
    background-color: rgb(230, 230, 243,0.744);
border-radius: 15px;
}
.operation p{
margin-left: 30%;
font-size: 30px;
}

.operation button{
height: 30px;
color: white;
background-color: rgb(45, 45, 203,0.744);
border-radius: 20px;

}
#resultButt{
margin-left: 45%;
margin-bottom: 10px;
margin-top: 10px;
}
